
@{
    ViewData["Title"] = "IndexAfter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="backgroundWhite container" style="background-color: white; padding: 30px; border-radius: 10px; margin-bottom: 30px;">
    <div class="border backgroundWhiteBorder">
        <div class="row">
            <div class="col-12">
                <h2 class="text-info"> Thank you for your attandance in Diploma Exam, your Result Will be posted soon! </h2>
            </div>

        </div>
        <br />
        <div>
        </div>
    </div>
</div>